<div class="container">
    <h1 class="fw-bold">Cart</h1>
    <div class="row">
        <div class="col-md-8">
            @if(cart.length === 0){
                <p class="alert alert-danger"> No item in the cart .</p>
            }
            @for(item of cart ; track $index){
              <div class="cart-container d-flex justify-content-evenly align-items-center my-4">
                <div class="item-img">
                    <img src="http://127.0.0.1:8000/images/{{item.product?.image}}" alt="{{item.product?.title}}">
                </div>
                <div class="item-details text-capitalize">
                <h3 class="fw-bold">{{ item.product?.title }}</h3>
                <p>{{ item.product?.details }}</p>
                <div class="item-info d-felx ">
                    <h5>Price : <span>{{ item.product?.price }}</span> </h5>
                    it will be replace with select to get the remaning quantity 
                    <h5>Quntity : <span>{{ item.quantity }}</span></h5>
                </div>
                </div>
                <div class="item-action">
                    <button class="btn cart-btn " (click)="removeFromCart(item.id)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </div> 
           </div>  
            }
        </div>
        <div class="col-md-4 my-3">
            <div class="checkout">
                <h1>Checkout</h1>
                <div class="checkout-price">
                  <p>total price</p>  {{totalPrice}}
                </div>
                <div class="checkoutBtn">
                    <button class="btn btn-danger" (click)="placeOrder()">
                        order now
                    </button>
                </div>
            </div>

        </div>
    </div>
    
  </div>
  