<div class="main">
  <div class="container">
    <h1 class="title">Coffee Order</h1>
    <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->
    <div *ngIf="orders.length === 0" class="no-orders" class="go-shop">No orders found. <a [routerLink]="['']">Go shopping</a></div>
    <div *ngIf="orders.length > 0" class="parent">
      <div class="order-list">
        <div *ngFor="let order of orders" class="order-item">
          <div class="order-content">
            <div class="order-info">
              <div class="order-header">
                <!-- <strong class="section-title">{{ order.title }}</strong> -->
                <span class="order-price">${{ order.total_price.toFixed(2) }}</span>
              </div>
              <h5>
                Status:
                <span [ngClass]="{
                    'status-pending': order.status === 'pending',
                    'status-accepted': order.status === 'accepted',
                    'status-rejected': order.status === 'rejected'
                  }">
                  {{ order.status }}
                </span>
              </h5>
              <p class="order-description">Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Beatae molestias,
                modi officiis rem, eius dolores eaque quasi veritatis 
                aliquid dolorum eos porro explicabo obcaecati corporis ad hic unde vitae! Corrupti.</p>
            </div>
            <div class="order-actions">
              <button *ngIf="order.status === 'pending'" (click)="deleteOrder(order.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
