<div class="main">
<div class="container">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="orders.length === 0" class="no-orders">No orders found. <a routerLink="/shop">Go shopping</a></div>
    <div *ngIf="orders.length > 0" class="parent">
        <div class="order-list">
            <div *ngFor="let order of orders" class="order-item">
                <div class="order-content">
                    <div class="order-info">
                        <h3><strong>Total Price:</strong> {{ order.total_price }}</h3>
                        <h4><strong>Status:</strong> {{ order.status }}</h4>
                    </div>
                    <div class="order-actions">
                        <button *ngIf="order.status === 'pending'" (click)="deleteOrder(order.id)">Delete</button>
                    </div>
                </div>
                <div class="card-header">
                    <img [src]="order.img" alt="{{ order?.img }}" >
                </div>
            </div>
        </div>
    </div>
</div>
</div>