<div *ngIf="product">
    <h1>{{ product.title }}</h1>
    <img [src]="product.image" alt="{{ product.title }}">
    <p>Details: {{ product.details }}</p>
    <p>Price: {{ product.price | currency }}</p>
    <div *ngIf="product.promotion">
      <h3>Promotion</h3>
      <p>Discount Percentage: {{ product.promotion.discount_percentage }}%</p>
      <p>Start Date: {{ product.promotion.start_date }}</p>
      <p>End Date: {{ product.promotion.end_date }}</p>
    </div>
    <button (click)="goBack()">Back to Products</button>
  </div>
  
  <div *ngIf="!product">
    <p>Loading product details...</p>
  </div>
  