.navbar-brand img {
    height: 40px;
    width: 40px;
  }
  
  .nav-link {
    color: rgb(255, 255, 255);
    margin-right: 15px;
  }
  
  .nav-link:hover {
    color: #faea3c;

  }
  a{
    cursor: pointer;
  }
  .form-control {
    width: 300px;
  }
  
  .btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
  }
  
  .btn-outline-success:hover {
    background-color: #8a8a8a;
    color: #fff;
  }
  