<!-- slider section -->
<div class="container-fluid px-3">
    <div class="row py-5 justify-content-center align-items-center">
        <!-- information-section-->
        <div class="col-md-6 p-5 rounded-3 text-light text-capitalize hero-left-container">
            <h1 class="main-hero-info">
                Golden Hour Glow, Bottled.
            </h1>
            <p class="text-center">Step into your best light with Soft'Lit Naturally Luminous Longwear Foundation.</p>
        </div>
        <!-- slider-section -->
        <div class="col-md-6 hero-right-container ">
            <div class="slider-container-hero rounded-2"style="background-image:url('https://cdn.shopify.com/s/files/1/0341/3458/9485/files/FB_FALL23_T2PRODUCT_EDITORIAL_SHADOWSTIX_EYESHADOW_MATTESHADES_1200X1500_72DPI_3c639fe2-1540-4618-96ad-2221b8795cbd_650x.jpg?v=1697576318');"></div>
        </div>
    </div>
    <app-products></app-products>
</div>
