.main-hero-info{
    color : #fff;
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.home-container{
    background-color: #282d32;
}
.slider-container-hero{
    height: 35rem;
    background-position: center;
    background-size: cover;
}