/* layout.component.css */

body{
  background-color: #f4f3eb
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-left: 80px; /* Adjust for sidebar width */
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .content {
    margin-left: 0; /* Reset margin */
    margin-top: 10px; /* Add some margin */
  }
}
