/* sidebar.component.css */

.sidebar {
  width: 250px;
  background-color: #f4f3eb;
  padding: 10px;
  height: 100vh; /* Full height */
  overflow-y: auto; /* Enable vertical scrollbar */
  transition: width 0.3s;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 0.5em 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 0.5em;
}

.sidebar ul li a:hover {
  background-color: #faea3c;;
}

.active-link {
  background-color: #faea3c;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width */
    height: auto; /* Auto height */
    position: relative; /* Relative position */
  }
  .sidebar ul {
    display: flex;
    flex-direction: row; /* Horizontal menu */
    flex-wrap: wrap;
  }
  .sidebar ul li {
    flex: 1 1 auto; /* Equal width for all items */
  }
  .sidebar ul li a {
    text-align: center;
  }
}
